* {
	margin: 0;
	padding: 0;
	font-size: 1em;
	box-sizing: border-box;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	outline: none;
}
body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #444;
}


/*Левый блок*/
	.side_block {
		height: 100%;
		float: left;
		width: 200px;
	}
	.side_block * {
		color: #eee;
	}
	#enter_block a{
		display: block;
		height: 37px;
		width: 80%;
		border-top: 3px solid #404040;
		background-color: #5E97AA;
		font-size: 17px;
		font-weight: 800;
		text-align: center;
		margin: 0 auto;
		margin-top: 5px;
		padding-top: 5px;
		cursor: pointer;
	}

	#enter_block a:hover {
		background-color: #red;
	}

	#enter_block a:active {
		background-color: #98b0c8;
	}
	
	#hiddenBlock {
		width: 80%;
		margin: 0 auto;
		margin-top: 10px;
		font-size: 18px;
	}
	#enter_block input{
		width: 100%;
		border: none;
		height: 37px;
		margin: 2px 0;
		/*border: 1px solid #3f3f3f;*/
		/*border: 1px solid #366;*/
		border-top: 3px solid #404040;
	}
	#enter_block input[name="login"], #enter_block input[name="pass"]{
		padding-left: 10px;
		background-color: #eee;
		color: #444;
		/*border: 1px solid #424242;*/
	}
	#enter_block input[name="submit"] {
		background-color: #5E97AA;
		cursor: pointer;
		margin-bottom: 30px;
		color: #eee;
		font-weight: 800;
		font-size: 16px;
	}
	#hiddenBlock div[name='currentAction'] {
		font-size: 17px;
		width: 110%;
		margin-left: -5%;
		height: 25px;
	}

	.leftsideBut {
		padding-left: -10px;
		padding-top: 6px;
		height: 45px;
		margin-bottom: 5px;
		text-align: center;
		font-size: 24px;
	}
	.leftsideBut:hover {
		background-color: #5E97AA;
		cursor: pointer;
		padding-left: 4px;
		border-right: 4px solid #497e90;
	}
	.leftsideBut a {
		text-decoration: none;
	}

	#myAvatar {
		margin-top: 20px;
		width: 200px;
	}
	#changeAvatar {
		width: 64px;
		margin: 0 auto;
	}
	#changeAvatar img {
		cursor: pointer;
	}
	#changeAvatar img:hover {
		filter: brightness(1.12);
	}
	.avatarOnAvatarPanel {
		float: left;
		width: 64px;
		height: 64px;
		margin-right: 5px;
		display: inline-block;
	}
	.avatarOnAvatarPanel img:hover {
		cursor: pointer;
		filter: brightness(1.12);
	}
	.deleteAvatar {
		width: 15px;
		height: 15px;
		background-color: #fff;
		background-image: url("../images/delete.png");
		background-position: 1px 1px;
		background-size: 13px;
		background-repeat: no-repeat;
		position: absolute;
		top: 5px;
		margin-left: 49px;
		cursor: pointer;
	}

	#myName div[name='name'] {
		width: 100%;
		height: 100%;
	}
	#nameEdit {
		position: absolute;
		top: 87px;
		left: -5px;
		/*top: -5px;*/
		width: 205px;
		height: 50px;
	}
	#nameEdit input {
		color: #4f4f4f;
		text-align: center;
		border: none;
		background-color: #eee;
		padding-left: 4px;
		border-right: 4px solid #497e90;

	}
	#acceptNewName {
		width: 140px;
		position: absolute; 
		height: 49px; 
		left: 205px; 
		margin-top: -8px; 
		background-color: #5E97AA;
		padding-top: 7px;
		font-weight: 600;
		z-index: 3;
	}
	#avatarPanel {
		display: none;
		position: fixed;
		width: 618px;
		height: 102px;
		background-color: #eee;
		border: 4px solid #444;
		left: calc(100vw / 2 - 340px);
		top: 5px;
		z-index: 3;
		box-shadow: 6px 0 5px rgba(0,0,0,0.3);
		color: #444;
		padding-left: 4px; 
		padding-right: 5px;
	}
	#avatarsList {
		min-width: 600px;
		max-width: 600px;
		padding: 5px;
		overflow-x: scroll;
		position: absolute;
		display: inline-flex;
		height: 92px;
		overflow-y: hidden;
	}
	#avatarsList > div:first-of-type {
		background-image: url("/images/addNewAvatar.png");
		height: 64px;
		min-width: 64px;
		padding-top: 5px;
		margin-right: 5px;
		cursor: pointer;
	}
	#avatarsList > div:first-of-type:hover {
		background-color: #e5e5e5;
	}
	#uploadNewAvatar input {
		position: absolute;
		top: 0;
		visibility: hidden;
	}
/*// Левый блок*/
#main_block {
	position: relative;
	height: 100vh;
	width: 1000px;
	margin: 0 auto;
}

#block_history_main {
	position: relative;
	left: 200px;
	height: 100vh;
	width: 800px;
	background-color: #eee;
}

#messages_box {
	position: absolute;
	bottom: 30px;
	width: 100%;
	max-height: 96%;
	/*overflow-y: auto;*/
	overflow-y: hidden;
	word-wrap: break-word;
	padding-top: 20px;
}

#bigcanvas {
	margin-bottom: 20px;
}

#input_message_box {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
}

.message_box {
	padding-left: 10px;
	font-size: 18px;
	width: 100%;
	padding-top: 5px;
}
.message_box_avatar {
	float: left;
	width: 10%;
	min-height: 48px;
}
.message_box_avatar img {
	width: 48px;
	height: 48px;
	margin-left: 15px;
	margin-top: 2px;
}
.message_box_name {
	font-weight: 700;
	font-size: 16px;
}
.message_box_name > div {
	font-size: 13px;
	margin-left: 10px;
	display: inline-flex;
	color: #ababab;
}
.message_box_name > div:hover {
	color: #45859a;
	cursor: pointer;
}
.message_box_message {
    word-wrap: break-word;
}
.answer_code {
	padding-top: 2px;
	color: #194b5f;
	font-size: 15px;
	cursor: help;
}
.answer_code > div {
	position: absolute;
	width: 500px;
	border: 1px solid #444;
	background-color: #e0e0e0;
}
#input_message_box input[type="text"] {
	width: 100%;
	height: 30px;
	resize: none;
	border: none;
	border-top: 1px solid #555;
	background-color: #eee;
	padding: 0 20px;
}

#debug_box {
	position: fixed;
	left: 0;
	top: 0;
	max-width: 200px;
	height: 80px;
	color: #fff;
}

#darkscreen, #opacityscreen {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 2;
}
#darkscreen {
	background-color: rgba(0,0,0,0.4);
}